doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="/script.js") 
        title home
    body 
        div(style='display:grid;place-items:center;')
            form( id="form", style='max-width:500px;display:flex;flex-direction:column;justify-content:center;align-items:center,text-align:center;')
                label(for="title") Title
                input(type="text",id="title",name="title")
                br
                label(for="description") Description
                textarea(name="description",id="description", cols="30", rows="10") 
                br
                label(for="date") Date
                input(type="date",id="date" name="date")
                br
                input(onclick="onSubmit()" value="submit") 
                     